* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: RussoOne;
  src: url(RussoOne-Regular.ttf);
}
@font-face {
  font-family: Cabin;
  src: url(Cabin-VariableFont_wdth\wght.ttf);
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}
body {
  max-width: 1200px;
  margin-inline: auto;
  background-color: black;
  padding: 20px;
}

/* Nav */
ul {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 30px;
}
nav a {
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
}

/* Tekst */
h1 {
  color: #eb688b;
  font-family: "RussoOne", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
}
h2 {
  color: white;
  font-family: "RussoOne", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  padding: 15px;
}
h3 {
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  padding: 15px;
}
main p {
  font-family: "Cabin", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}
footer {
  font-family: "Cabin", sans-serif;
  color: #eb688b;
  font-size: 15px;
  font-weight: bold;
  gap: 20px;
  place-items: bottom;
}

/* Info side */

.grid_1_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.grid_1_1_1_1 > div > img {
  object-fit: cover;
  height: 100%;
}

/* tekst på billede */
.container {
  display: grid;
  place-items: end center;
}
img,
h3 {
  grid-area: 1/1;
}
/*Min passion */
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
/*Proces*/
.grid_2_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
