* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: RussoOne;
  src: url(RussoOne-Regular.ttf);
}
@font-face {
  font-family: Cabin;
  src: url(Cabin-VariableFont_wdth\wght.ttf);
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}
body {
  max-width: 1100px;
  margin-inline: auto;
  background-color: #221e43; /*#221e43  #433323 */
  padding: 20px;
}

/* Nav */
ul {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 30px;
}
nav a {
  color: #fa2869;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
}

/* Tekst */
h1 {
  color: #fa2869;
  font-family: "RussoOne", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 0 510px;
}

.overskrift_sprite {
  width: 100px;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotatey(0deg);
  }
  50% {
    transform: rotatey(360deg);
  }
  100% {
    transform: rotatey(0deg);
  }
}

h2 {
  color: #eb688b;
  font-family: "RussoOne", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  padding: 25px 0;
}
h3 {
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  padding: 7px;
}
main p {
  font-family: "Cabin", sans-serif;
  color: #eb688b;
  font-size: 15px;
  font-weight: lighter;
}
footer {
  font-family: "Cabin", sans-serif;
  color: #eb688b;
  font-size: 15px;
  font-weight: bold;
  padding: 25px 0;
  text-align: bottom;
}

/* Info side */

.grid_1_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.grid_1_1_1_1 > div > img {
  object-fit: cover;
  height: 100%;
}

/* tekst på billede */
.container {
  display: grid;
  place-items: end left;
}
img,
h3 {
  grid-area: 1/1;
}

.tekst {
  display: grid;
  place-items: center left;
}
img,
h3 {
  grid-area: 1/1;
}

/* forstør billede når hover */
.thumbnail {
  top: -50px;
  left: -35px;
  display: block;
  z-index: 999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}
.thumbnail:hover {
  transform: scale(1.1);
}
/*Min passion */
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
/*Proces*/
.grid_2_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
